/* .gallery {
    margin: 0 auto;
    max-width: 1200px;
    max-height: 1200px; 
    padding: 0 1rem;
}

.cell img {
    z-index: 1;
    filter: grayscale(0%);
    display: block;
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width: 600px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .cell {
        width: 50%;
        height: 16%;
        overflow: hidden;
    }
}

@media screen and (min-width: 1000px) {
    .cell {
        width: calc(100% / 3);
        height: calc(100% / 6);
        overflow: hidden;
        /* background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}*/
.gallery {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
    z-index: 1;
}
.cell {
    top: 110px; 
    height: 250px;
    position:relative;
}
.cell .img-bg {
    filter: grayscale(0%);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size: cover;
}
.clearfix {
    clear:both;
}
@media screen and (min-width: 600px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .cell {
        width: 50%;
    }
}
@media screen and (min-width: 1000px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .cell {
        width: 33.3%;
    }
}
.cell .img-bg:hover {
    filter: grayscale(100%);
}
