.contentbox {
    display: flex;
}

.videocontainer {
    position: relative;
    margin: auto;
    top: 65px;
}
.videocontainer iframe{
    border-top: 2px dashed #fcce02fd;
    z-index: 10;
}
.textcontainer {
    position: relative;
    margin: auto;
    width: 50%;
}
.textcontainer section {
    position: relative;
    border: 0.5px solid #fcce02fd;
    background-color: #000000d8;
    top: 65px;
    padding: 2%;
}
.textcontainer p {
    color: #fcce02fd;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    text-align: center;
    word-wrap: break-word;
}